google-auth==2.29.0
google-auth-oauthlib==0.4.5
google-auth-httplib2==0.1.0
Flask
openai
python-dotenv
pandas
openpyxl
openai==0.28
requests
Jinja2
gunicorn
requests
google-auth 
google-auth-oauthlib
gspread  
youtube-transcript-api
oauth2client 
